@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
  background-color: rgb(0, 0, 0);
  font-family: Anta;
  
}

.searchbar{
  justify-content: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border: 0px;
  border-radius: 10px;
  padding: 10px 50px;


  cursor: pointer;
}
.SEARCHBAR{
  margin: 30px auto;
  justify-content: center;
  text-align: center;
  border-radius: 10px;

}
#movie-wrapper{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.movie-card{
  width: 15%;
  margin: 30px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  text-align: center;
  color: wheat;
  cursor: pointer;
}
.movie-thumb{
  border-radius: 10px;

}
:hover.movie-thumb{
  box-shadow: 0 2px 20px rgb(13, 50, 151);

}
:hover.searchbar{
  box-shadow: 0 2px 20px rgb(13, 50, 151);

}

.thumbnail{
  width: 100%;
  border-radius: 10px;

}