@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

body {
  background: rgb(226, 233, 240);
  font-family: Anta;
}

#searchbar{
  justify-content: center;
  text-align: center;
  background-color: rgba(92, 172, 218, 0.466);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border: 0px;
  cursor: pointer;
}
#SEARCHBAR{
  margin: 30px auto;
  justify-content: center;
  text-align: center;
}
#movie-wrapper{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.movie-card{
  width: 15%;
  margin: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);

  
  
}
.thumbnail{
  width: 100%;
}